.banner {
  background-image: linear-gradient(
      -230deg,
      rgba(255, 208, 0, 0.4) 0%,
      rgba(76, 139, 235, 0.4) 50%
    ),
    url("../../images/salle-banner.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  padding: 130px 0px;
}
.banner h1 {
  font-size: 65px;
  margin-bottom: 10px;
}
.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.9;
  margin-bottom: 40px;
}
